* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #2b192f;
  color: white;
  font-family: "montserrat", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-wrapper {
  background: url("../images/banner.jpg");
  background-size: cover;
}

.wrapper {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-weight: 700;
    font-size: 1.1rem;
  }

  ul {
    display: flex;
    gap: 1.2em;
  }
}

.hero-content {
  margin: 4em 0 2em;

  .subtitle {
    margin-bottom: 0;
  }
}

.light-purple-wrapper {
  background: #351f3a;

  .stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    justify-content: space-around;
    margin-top: 2em;
    row-gap: 1.5em;

    span {
      text-transform: uppercase;
      display: block;
      font-size: 0.75em;
    }

    strong {
      font-size: 1.4rem;
    }
  }
}

.arrows {
  display: none;
}

.extended-wrapper {
  padding: 0 1.5em 2em;
  max-width: 1230px;
  margin: 0 auto;

  .carousal {
    margin-bottom: 1em;

    li {
      border-radius: 0.5em;
      background: #422847;
      padding: 1em;
      margin-bottom: 1em;
    }

    blockquote {
      margin: 0;
      font-size: 0.9em;
      line-height: 1.7;
      margin-bottom: 1em;
    }

    cite {
      color: #e379ff;
      font-weight: 600;
      font-size: 0.9em;
      font-style: normal;
      position: relative;
      padding-left: 25px;

      &::before {
        content: "";
        position: absolute;
        height: 2px;
        width: 17px;
        background: white;
        left: 0;
        top: 7px;
      }
    }
  }
}

.move-up {
  h2 {
    text-align: center;
    position: relative;

    &:before {
      content: "";
      position: absolute;
      height: 5px;
      width: 25px;
      background: #e379ff;
      top: -0.3em;
    }
  }

  .companies {
    text-align: center;
    opacity: 0.4;

    li {
      margin: 2em 0;
    }

    .skillshare {
      width: 100px;
    }

    .ps {
      width: 230px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .companies {
    display: grid;
    grid-template-columns: repeat(2, auto);
  }
}

@media only screen and (min-width: 650px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    padding: 1.5em 4em;
  }

  .carousal-container {
    display: flex;

    ul.carousal {
      display: flex;
      gap: 1em;
      margin-bottom: 0;

      li {
        padding: 2em;
        margin-bottom: 0;
      }
    }
  }

  .arrows {
    display: block;
    width: 40px;
    cursor: pointer;
    margin: 0.5em;
    padding-bottom: 2em;
  }

  .right {
    transform: rotateZ(180deg);
    padding-top: 2em;
    padding-bottom: 0;
  }
}

@media only screen and (min-width: 853px) {
  body {
    font-size: 20px;
  }

  .light-purple-wrapper .stats {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2em;
  }

  .companies {
    grid-template-columns: repeat(4, auto);
    gap: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  .subtitle {
    font-size: 1.2em;
  }

  .move-up h2 {
    text-align: left;
    font-size: 2em;
  }

  .v-padding {
    padding: 4em;
  }

  .light-purple-wrapper {
    padding-bottom: 4em;
  }

  .move-up {
    margin-top: -6.8em;
  }
}

@media only screen and (min-width: 1200px) {
  .light-purple-wrapper .stats li {
    border-right: 1px solid rgba(124, 89, 148);
    padding-right: 5%;

    &:last-child {
      border: none;
    }
  }
}
